section.kitchen
  .container
    .kitchen__wrap
      .kitchen__info
        .kitchen__header
          .kitchen__icon
            img(src=content.kitchen.icon.src, alt=content.kitchen.icon.alt)
          h2.kitchen__title= content.kitchen.title
        .kitchen__content
          p.kitchen__text= content.kitchen.text
          p.kitchen__text At the <a href="#" class="underline">Medium.com</a> portal you can see all details and watch how can i create so genious  project and see my creative process.
          a.btn.kitchen__link(href=content.kitchen.link.href)= content.kitchen.link.text
      .kitchen__img
        img(src=content.kitchen.img.src, alt=content.kitchen.img.alt)